/*
 *
 * Default stylesheet for HTML_QuickForm2 forms.
 *
 * Based on stylesheet from HTML_QuickForm_Renderer_Tableless package
 * by Mark Wiesemann <wiesemann at php dot net>
 *
 * $Id: quickform.css 326347 2012-06-26 14:12:11Z avb $
 *
 */

.quickform form {
    margin: 0;
    padding: 0;
}
.quickform fieldset {
    clear: both;
    border: 1px solid #808080;
    margin: 0.2em 0 0 0;
    padding: 0.5em;
}
.quickform fieldset legend {
    white-space: nowrap;
    font-weight: bold;
    background-color: #CCCCCC;
    padding: 0.1em 0.5em;
    display: block;
    margin: 0;
}
.quickform label {
    margin: 0 0 0 0.5em;
}
.quickform p.label {
    float: left;
    width: 30%;
    padding: 0;
    margin: 0.7em 0 0 0;
    text-align: right;
}
.quickform input, .quickform textarea, .quickform select {
    width: auto;
}
.quickform textarea {
    overflow: auto;
}
.quickform br {
    clear: left;
}
.quickform div.row {
    padding: 0;
    margin: 0;
    clear: both;
}
.quickform div.element {
    display: inline;
    float: left;
    margin: 0.5em 0 0.2em 1em;
    padding: 0;
}
.quickform div.reqnote {
    clear: both;
    font-size: 80%;
    margin: 0.5em 0 0 1em;
}
.quickform span.error, .quickform span.required, .quickform div.reqnote em {
    color: red;
}
.quickform div.error {
    border: 1px solid red;
    padding: 0.5em;
}

.quickform .repeatPrototype {
    display: none;
}

#form_display{
    /* width:450px; */
    float:left;
}
.quickform {
    min-width: 400px;
    max-width: 480px;
    width: 450px;
}
